# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules
package-lock.json

# Caso você renomeie seu diretório /site, altere também nas linhas abaixo:
site/node_modules
site/package-lock.json

.github
