/* Importação de fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis */
:root {
  --lime-50: #f7fee7;
  --lime-300: #BEF264;
  --lime-400: #A3E635;
  --lime-500: #84CC16;
  --lime-600: #65A30D;
  --lime-700: #4D7C0F;
  --lime-800: #3F6212;
  --lime-900: #365314;
  --lime-950: #1A2E05;

  --olive-50: #FBFBF9;
  --olive-100: #F4F4F0;
  --olive-200: #E8E8E0;
  --olive-300: #C8C8B8;
  --olive-400: #ABAB9C;
  --olive-500: #8A8A78;
  --olive-600: #6B6B58;
  --olive-700: #4E4E3E;
  --olive-800: #2D2D22;
  --olive-900: #1D1D16;
  --olive-950: #0C0C09;

  --teal-200: #99F6E4;
  --teal-400: #2DD4BF;
  --teal-600: #0D9488;

  --danger-base: #EF4444;
  --danger-dark: #DC2626;

  --font-family-default: "Poppins", sans-serif;
}

/* Configurações de reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-default);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

.page-body {
  background-color: var(--olive-900);
  color: var(--olive-50);
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.button-primary-light {
  background-color: var(--lime-500);
  color: var(--lime-50);
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

.button-primary-dark {
  background-color: var(--lime-900);
  color: var(--lime-50);
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1.1rem;
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 13rem;
}

.button-secondary {
  background-color: var(--olive-100);
  color: var(--lime-800);
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: 400;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

.button-outline {
  background: transparent;
  color: var(--olive-50);
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: 400;
  border-radius: 3rem;
  border: none;
  transition: all 200ms ease;
  outline: 1px solid var(--olive-50);
  cursor: pointer;
  font-family: var(--font-family-default);
}

.button-outline:hover {
  color: var(--lime-500);
  background: #f7fee707;
  outline: 1px solid var(--lime-500);
}

.button-ghost {
  background-color: var(--olive-100);
  color: var(--olive-50);
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: 400;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

.button-destructive {
  background-color: var(--danger-base);
  color: var(--olive-100);
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: 400;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

.link {
  color: var(--lime-900);
  text-decoration: underline;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

/* Header / Navbar */
header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 50;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: linear-gradient(to bottom,
      rgba(12, 12, 9, 0.8),
      rgba(12, 12, 9, 0.5),
      transparent);
}

header .header-logo {
  max-width: 8rem;
}

header .header-nav {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  background-color: rgba(29, 29, 22, 0.1);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9999px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  backdrop-filter: blur(16px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

header .header-nav .nav-link {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  transition: all 150ms;
}

header .header-nav .nav-link:hover {
  color: var(--lime-500);
  opacity: 1;
}

header .header-nav .nav-cta {
  margin-left: 1rem;
}

/* Sessão Inicial / Hero */
.hero-banner {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;
  gap: 0.75rem;
  position: relative;
  z-index: 1;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  background: center / cover url(./assets/images/hero-banner.png);
  border-radius: 0 0 1rem 1rem;
}

.hero-banner::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: -1;
  background: linear-gradient(to top, var(--olive-900), transparent);
  border-radius: 0 0 1rem 1rem;
}

.hero-title {
  font-size: 4.125rem;
  font-weight: 800;
  max-width: 60rem;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  line-height: 1.1;
}

.hero-highlight {
  transition: all 150ms;
}

.hero-highlight:hover {
  color: var(--lime-500);
}

.hero-subtitle {
  max-width: 48rem;
  font-size: 1.25rem;
  color: var(--olive-100);
}

.hero-cta {
  width: fit-content;
  backdrop-filter: blur(16px);
}

/* Sessão de Problemática */
.problem-section {
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  gap: 1.25rem;
}

.problem-section .section-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
}

.problem-section .cards {
  max-width: 80rem;
  min-height: 44rem;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.problem-section .cards .card {
  position: relative;
  background-color: var(--olive-200);
  flex: 1;
  border-radius: 0.5rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.8;
  transition: all 150ms;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  filter: grayscale(0);
  overflow: hidden;
}

.problem-section .cards .card:hover {
  opacity: 1;
  transform: scale(1.01);
  filter: grayscale(0.9);
}

.problem-section .cards .card-1 {
  background: center / cover url(./assets/images/dry-earth.png);
}

.problem-section .cards .card-2 {
  background: center / cover url(./assets/images/hand-earthworm.png);
}

.problem-section .cards .card-3 {
  background: center / cover url(./assets/images/tractor.png);
}

.problem-section .cards .heading {
  max-width: 28rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.problem-section .cards .icon {
  font-size: 2.25rem;
}

.problem-section .cards .detail {
  position: absolute;
  top: 40%;
  opacity: 0;
  transition: all 300ms;
  font-size: 1.25rem;
  font-weight: 400;
  padding-right: 1.5rem;
}

.problem-section .card:hover .detail {
  opacity: 1;
}

/* Sessão de Produto / Solução */
.product-section {
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  gap: 2.5rem;
}

.product-section .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
}

.product-section .subtitle {
  color: var(--olive-500);
  text-align: center;
  max-width: 42rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.features {
  width: 100%;
  border-top: 1px solid var(--olive-600);
  border-bottom: 1px solid var(--olive-600);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.features .feature {
  padding-left: 1rem;
  padding-right: 1rem;
}

.features .feature-bordered {
  border-right: 1px solid var(--olive-600);
}

.features .feature .icon {
  font-size: 1.875rem;
  color: var(--lime-500);
}

.features .feature .title {
  font-size: 1.125rem;
  font-weight: 600;
}

.features .feature .desc {
  color: var(--olive-300);
}

.browser-outer {
  border-radius: 1rem;
  border: 2px solid var(--olive-500);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: var(--olive-800);
}

.browser-inner {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  border: 2px solid var(--olive-500);
  overflow-x: hidden;
}

.browser-inner .browser-bar {
  width: 100%;
  position: relative;
  height: 3rem;
  border-bottom: 2px solid var(--olive-500);
  background-color: var(--olive-700);
  display: flex;
  align-items: center;
  justify-content: center;
}

.browser-inner .browser-bar .bar-left {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  position: absolute;
  left: 0.75rem;
}

.browser-inner .bar-left .icon-dots {
  color: var(--olive-950);
  opacity: 0.8;
  font-size: 3.75rem;
}

.browser-inner .bar-left .pill {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  color: var(--olive-500);
  border-radius: 9999px;
  background-color: var(--olive-900);
}

.browser-inner .bar-left .sidebar-icon {
  opacity: 0.8;
  font-size: 1.25rem;
}

.browser-inner .bar-left .arrow-down-icon {
  opacity: 0.8;
  font-size: 0.875rem;
}

.browser-inner .browser-bar .bar-url {
  position: relative;
  height: 2rem;
  background-color: var(--olive-200);
  display: flex;
  align-items: center;
  color: var(--olive-950);
  border-radius: 9999px;
  padding-left: 9rem;
  padding-right: 9rem;
}

.browser-inner .bar-url .lock-icon {
  position: absolute;
  left: 0.75rem;
  color: var(--olive-950);
}

.browser-inner .bar-url .url-text {
  font-weight: 300;
}

.browser-inner .bar-url .reload-icon {
  position: absolute;
  right: 0.75rem;
  color: var(--olive-950);
}

.browser-inner .browser-bar .bar-right {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.75rem;
  color: var(--olive-500);
  border-radius: 9999px;
  background-color: var(--olive-900);
}

.browser-screenshot {
  width: 100%;
}

.calculator-section {
  width: 100dvw;
  padding: 5rem;
}

.calculator-section .container-calculator {
border-top: 1px solid var(--olive-600);
  border-bottom: 1px solid var(--olive-600);
}

.calculator-section .container-calculator .container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-right: 1px solid var(--olive-600);
}

.calculator-section .container-calculator .container2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
.container-calculator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.7rem;

}

.calculator-section .container-calculator .container span{
  color: var(--olive-100);
  font-size: 1.3rem;
  padding-left: 50px;
  display: inline;
  text-align: justify;
}

.calculator-section .container-calculator .container h1{
  color: var(--lime-600);
  font-size: 2.6rem;
}
.calculator-section .container-calculator .container2 h1{
  color: var(--lime-600);
  font-size: 2.6rem;
}

.calculator-section .container-calculator .container2 .container-form {

  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.calculator-section .container-calculator .container2 .container-form .result-card{
  display: flex;
  flex-direction: column;
}

.calculator-section .container-calculator .container2 .container-form .result-card span{
  font-size: 1.3rem;
}

.calculator-section .container-calculator .container2 .container-form .result-card .strong-green{
color: rgb(21, 119, 21);
}

.calculator-section .container-calculator .container2 .container-form .result-card .strong-red{
color: rgb(158, 19, 19);
}

.calculator-section .container-calculator .container2 .container-form .container-result {
  width: 50rem;
}

.calculator-section .container-calculator .container2 .container-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator-section .container-calculator .container2 .container-form .form .input-with-label{
  background-color: #1A2E05;
  width: 70%;
}

.calculator-section .container-calculator .container2 .container-form .form .input-with-label .body-sm {
  color: var(--olive-900);
  background-color: var(--olive-100);
  height: 2.3rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: var(--font-family-default);
  font-size: 1rem;
  text-align: center;
}

.calculator-section .container-calculator .container2 .container-form .form p {
  font-size: 1.7rem;
  font-weight: bold;
}

.result-item {
  font-size: 1.2rem;
}

/* Sessão de FAQ */
.section-faq {
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.section-faq .faq-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.section-faq .faq-item {
  max-width: 36rem;
  background-color: var(--olive-50);
  color: var(--olive-900);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: all 150ms;
}

.section-faq .faq-item:hover {
  transform: scale(1.03);
  opacity: 1;
}

.section-faq .faq-item .question {
  font-size: 1.125rem;
  font-weight: 600;
}

.section-faq .faq-item .awnser {
  display: inline;
}

.section-faq .faq-item  .awnser-arrow-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--lime-800);
}

/* Sessão de Contato */
.section-contact {
  width: 100dvw;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  position: relative;
  margin-top: 2.5rem;
}

.section-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  opacity: 0.5;
  z-index: -1;
  background: center / cover url(./assets/images/sunset.png);
  border-radius: 1rem;
  transform: translateX(5%) translateY(5%);
  filter: saturate(1.2);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.section-contact .contact-intro {
  max-width: 36rem;
  text-align: center;
}

.section-contact .contact-form {
  width: 100%;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: rgba(29, 29, 22, 0.1);
  border-radius: 0.5rem;
  gap: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.section-contact .contact-form .field {
  display: flex;
  flex-direction: column;
}

.section-contact .contact-form .input {
  color: var(--olive-900);
  background-color: var(--olive-100);
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: var(--font-family-default);
  font-size: 1rem;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  background-color: var(--olive-950);
  border-radius: 1.5rem 1.5rem 0 0;
  margin-top: 1.25rem;
}

footer .footer-main {
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer-main .footer-brand {
  color: var(--olive-300);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 24rem;
}

footer .footer-brand .logo {
  width: 9rem;
}

footer .footer-main .footer-nav {
  color: var(--olive-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 24rem;
}

footer .footer-nav a {
  color: inherit;
  text-decoration: none;
}

footer .footer-nav .title {
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
}

footer .footer-bottom {
  display: flex;
  border-top: 1px solid var(--olive-900);
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--olive-300);
}

footer .footer-bottom .link {
  font-weight: 600;
  color: var(--olive-100);
}

footer .footer-bottom .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .footer-bottom .icon {
  font-size: 1.875rem;
  align-self: center;
}


