@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Variáveis */
:root {
  --lime-50: #f7fee7;
  --lime-300: #BEF264;
  --lime-400: #A3E635;
  --lime-500: #84CC16;
  --lime-600: #65A30D;
  --lime-700: #4D7C0F;
  --lime-800: #3F6212;
  --lime-900: #365314;
  --lime-950: #1A2E05;

  --olive-50: #FBFBF9;
  --olive-100: #F4F4F0;
  --olive-200: #E8E8E0;
  --olive-300: #C8C8B8;
  --olive-400: #ABAB9C;
  --olive-500: #8A8A78;
  --olive-600: #6B6B58;
  --olive-700: #4E4E3E;
  --olive-800: #2D2D22;
  --olive-900: #1D1D16;
  --olive-950: #0C0C09;

  --teal-200: #99F6E4;
  --teal-400: #2DD4BF;
  --teal-600: #0D9488;

  --danger-base: #EF4444;
  --danger-dark: #470606;

  --font-family-default: "Poppins", sans-serif;
}

/* Configurações de reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: var(--font-family-default);
}

.page-body {
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--olive-100);
  color: var(--olive-900);
  display: flex;
  overflow-x: hidden;
}

/* Sidebar / Barra lateral*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  background-color: var(--olive-700);
  color: var(--olive-50);
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  z-index: 40;
  overflow-y: auto;
  border-radius: 0 1rem 1rem 0;
}

.sidebar .label {
  font-size: 0.875rem;
  color: rgba(244, 244, 240, 0.7);
}

.sidebar .group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar .item {
  width: 100%;
  padding: 1.25rem;
  background-color: rgba(251, 251, 249, 0.1);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  transition: background-color 150ms;
}

.sidebar .item:hover {
  background-color: rgba(251, 251, 249, 0.4);
}

.sidebar .active {
  background-color: rgba(251, 251, 249, 0.3);
}

.sidebar .item .icon {
  font-size: 1.875rem;
}

.sidebar .item .medium {
  font-weight: 500;
}

.sidebar .sidebar-user {
  width: 100%;
  padding: 0.75rem;
  background-color: rgba(251, 251, 249, 0.1);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: space-between;
}

.sidebar .sidebar-user .avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--olive-500);
  letter-spacing: 0.05em;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .sidebar-user .signout-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Main / Sessão pricipal */
.main-content {
  padding-left: 21rem;
  width: 100%;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-top: 1.5rem;
  background-color: var(--olive-100);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
}

.main-content .info-toggle {
  position: fixed;
  width: 3rem;
  height: 3rem;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: var(--olive-800);
  cursor: pointer;
  z-index: 50;
  transition: all 150ms;
}

.main-content .info-toggle:hover {
  background-color: var(--olive-700);
  transform: scale(1.03);
}

.main-content .info-toggle .info-toggle-icon {
  font-size: 2.25rem;
  color: var(--olive-100);
}

/* Card informativo */
.main-content .info-card {
  position: fixed;
  width: 50dvw;
  background-color: var(--olive-200);
  z-index: 9999 !important;
  display: none;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translateX(-40%) translateY(-50%);
  border-radius: 0.75rem;
  padding: 2.5rem;
  color: var(--olive-700);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.info-card .close-icon {
  font-size: 1.875rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  transition: all 150ms;
  padding: 0.25rem;
  border-radius: 9999px;
}

.info-card .close-icon:hover {
  color: var(--olive-600);
  background-color: rgba(171, 171, 156, 0.3);
}

.info-card .heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--olive-800);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.info-card .spaced {
  padding-top: 1.5rem;
}

.info-card .heading .icon {
  font-size: 1.5rem;
}

.info-card .text {
  text-align: justify;
  display: inline;
}

.info-card .text .text-ideal {
  color: var(--lime-600);
  font-weight: 500;
}

.info-card .text .text-alert {
  color: #CA8A04;
  font-weight: 500;
}

.info-card .text .text-critical {
  color: #DC2626;
  font-weight: 500;
}

.title-page {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--olive-800);
}

/* Alertas */
.alerts-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
  max-width: 60rem;
  margin: 0 auto;
}

.alerts-section .alert {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 150ms;
}

.alerts-section .alert:hover {
  transform: scale(1.01);
}

.alerts-section .alert .heading {
  display: flex;
  align-items: center;
  gap: 0.725rem;
}


.alerts-section .alert .icon {
  font-size: 2rem;
}

.alerts-section .alert .title {
  font-size: 1.25rem;
}

.alerts-section .alert .date {
  margin-left: auto;
  font-size: 0.925rem;
}

.alerts-section .urgent {
  background: var(--danger-dark);
  color: var(--danger-base);
  box-shadow: 0 10px 15px -3px rgba(71, 6, 6, 0.7),
    0 4px 6px -4px rgba(71, 6, 6, 0.7);
}

.alerts-section .danger {
  background: var(--danger-base);
  color: var(--danger-dark);
  box-shadow: 0 10px 15px -3px rgba(239, 68, 68, 0.5),
    0 4px 6px -4px rgba(239, 68, 68, 0.5);
}

.alerts-section .moderate {
  background: #CA8A04;
  color: var(--olive-50);
  box-shadow: 0 10px 15px -3px rgba(202, 139, 4, 0.5),
    0 4px 6px -4px rgba(202, 139, 4, 0.5);
}

.alerts-section .normal {
  background: var(--olive-300);
  color: var(--olive-950);
  box-shadow: 0 10px 15px -3px rgba(45, 45, 34, 0.1),
    0 4px 6px -4px rgba(45, 45, 34, 0.1);
}